<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="SourceSlave" value="127.0.0.1,502,1,900"/>
    <!--ip,port,addressStart,length-->
    <add key="TargetSlave" value="127.0.0.1,503,101,900"/>
  </appSettings>
</configuration>